*{
    margin: 0px;
    padding: 0px;
}

html{
    font-size: 10pt;
}

body{
    background-color:#e6e6e6; 
    width: 100%;
	text-rendering: optimizeLegibility;
    font-weight: 400;
}
#header{
    background-image: url(../images/fundo_cima.png);
    background-repeat: no-repeat;
    background-size: 100% 100%;
    background-color:#e6e6e6;

}

#logo_BEST{
    position: relative;
    margin-left: 10%;
    margin-top: 3%;
    margin-bottom: 18%;
    width: 20%;
}

/*-------NavBar-----*/

#custom-bootstrap-menu.navbar-default .navbar-brand {
    color: rgba(119, 119, 119, 1);
}
#custom-bootstrap-menu.navbar-default {
    font-size: 20px;
    background-color: rgba(248, 248, 248, 0);
    border-width: 0px;
    border-radius: 0px;
    font-weight: 700;
    font-family: Tahoma; sans-serif;
    padding: 0px;
    margin: 0px;
}
#custom-bootstrap-menu.navbar-default .navbar-nav>li>a {
    color: rgba(255, 255, 255, 1);
    background-color: rgba(248, 248, 248, 0);

}
#custom-bootstrap-menu.navbar-default .navbar-nav>li>a:hover,
#custom-bootstrap-menu.navbar-default .navbar-nav>li>a:focus {
    color: rgba(255, 255, 255, 1);
    background-color: rgba(8, 114, 185, 1);
}
#custom-bootstrap-menu.navbar-default .navbar-nav>.active>a,
#custom-bootstrap-menu.navbar-default .navbar-nav>.active>a:hover,
#custom-bootstrap-menu.navbar-default .navbar-nav>.active>a:focus {
    color: rgba(255, 255, 255, 1);
    background-color: rgba(8, 114, 185, 1);
}
#custom-bootstrap-menu.navbar-default .navbar-toggle {
    border-color: #0872b9;
}
#custom-bootstrap-menu.navbar-default .navbar-toggle:hover,
#custom-bootstrap-menu.navbar-default .navbar-toggle:focus {
    background-color: #0872b9;
}
#custom-bootstrap-menu.navbar-default .navbar-toggle .icon-bar {
    background-color: #0872b9;
}
#custom-bootstrap-menu.navbar-default .navbar-toggle:hover .icon-bar,
#custom-bootstrap-menu.navbar-default .navbar-toggle:focus .icon-bar {
    background-color: #f8f8f8;
}

.navbar-nav {
    margin: 0 auto;
    display: table;
    table-layout: auto;
    float: none;
    width: 100%;
    
}

.navbar-nav>li {
    display: table-cell;
    float: none;
    text-align: center;
}

/*----- Conteúdo ---*/

#main{
    margin-top: -20%;
    
}
@media (min-width: 1200px) {
    .container {
        width: 950px; /*-- muda largura do container*/
    }
}

#content{
    box-shadow: 0px 0px 1.5rem black;
    background-color: #e6e6e6;
    }


/* ---- Rodapé -------------*/
#baixo{
    position: absolute;
    width: 100%;
}
#fundo_2{
    position: relative;
    width: 100%;  
}

#contactos{
    position:relative;
    margin-top: -8%;
    text-align: center;
    margin-left: auto;
    margin-right: auto;    
}
#contactos tr td{
    font-size: 1.2rem;
    width: auto;
    padding-left:  10px;
    padding-right:  10px;
    text-decoration: none;
}
#contactos tr td a{
    text-decoration: none;
    font-size: 2rem;
    color: #6d6d6d;
    font-family: Tahoma, Geneva, sans-serif;
    align-content: center;
}
#contactos tr td img{
    height: 1.8rem;
    margin-left: 15px;
}


