*{
    margin: 0px;
    padding: 0px;
}

html{
    font-size: 10pt;
}

body{
    background-color:#e6e6e6; 
    width: 100%;
	text-rendering: optimizeLegibility;
    font-weight: 400;
}
#header{
    background-image: url(../images/fundo_cima.png);
    background-repeat: no-repeat;
    background-size: 100% 110%;
    background-color:#e6e6e6;
    position: static;
}

#logo_BEST{
    position: relative;
    margin-left: 10%;
    margin-bottom: 250px;
    width: 25%;
}

@media (min-width: 768px) and (max-width: 992px) { 
    
   #header{
        background-image: url(../images/fundo_cima.png);
        background-repeat: no-repeat;
        background-size: 100% 110%;
    }
    
    #logo_BEST{
    position: relative;
    margin-left: 10%;
    margin-top: 2%;
    margin-bottom: 30%;
    width: 25%;
}
}

@media (max-width: 768px) { 
    
  #logo_BEST{
    position: relative;
    margin-left:10%;
    margin-top: 2%;
    width: 100px;
}
    
    #header{
        background-size: 100% 150%;
    }
}

/*-------NavBar-----*/
.container{padding: 0;}
#custom-bootstrap-menu.navbar1.  {
    background-color: rgba(119, 119, 15, 0);
    margin: 0;
    padding: 0px;
    width: 100%;
    
}

#custom-bootstrap-menu.navbar1 {
    font-size: 22.3px;
    background-color: rgba(3, 28, 28, 0);
    border-width: 0px;
    border-radius: 0px;
    font-weight: 700;
    font-family: Tahoma; sans-serif;
    padding: 0px;
}

#custom-bootstrap-menu.navbar1 .navbar-nav{
    margin-left: -16px;
    margin-bottom: 15px;
}
#custom-bootstrap-menu.navbar1 .navbar-nav>li>a {
    color: rgba(255, 255, 255,1);
    background-color: rgba(248, 248, 248, 0);
}
#custom-bootstrap-menu.navbar1 .navbar-nav>li>a:hover,
#custom-bootstrap-menu.navbar1 .navbar-nav>li>a:focus {
    color: rgba(255, 255, 255, 1);
    background-color: rgba(8, 114, 185, 1);
}
#custom-bootstrap-menu.navbar1 .navbar-nav>.active>a,
#custom-bootstrap-menu.navbar1 .navbar-nav>.active>a:hover,
#custom-bootstrap-menu.navbar1 .navbar-nav>.active>a:focus {
    color: rgba(255, 255, 255, 1);
    background-color: rgba(8, 114, 185, 1);
}
#custom-bootstrap-menu.navbar1 .navbar-toggle {
    border-color: #0872b9;
}
#custom-bootstrap-menu.navbar-default .navbar-toggle:hover,
#custom-bootstrap-menu.navbar-default .navbar-toggle:focus {
    background-color: #0872b9;
}
#custom-bootstrap-menu.navbar-default .navbar-toggle .icon-bar {
    background-color: #0872b9;
}
custom-bootstrap-menu.navbar1 .navbar-toggle:hover .icon-bar,
#custom-bootstrap-menu.navbar1 .navbar-toggle:focus .icon-bar {
    background-color: #f8f8f8;
}
.navbar .container-fluid, .navbar-collapse {
    padding-left:0;
}
.navbar-collapse.in {
    padding-left:30px;
}

.navbar-nav {
    margin: 0 auto;
    display: table;
    table-layout: auto;
    float: none;
    width: 100%;
    
}

.navbar-nav>li {
    display: table-cell;
    float: none;
    text-align: center;
}

.dropdown-menu{
    background-color: #0872b9;
    border-radius: 0px;
    border:none;
    padding: 0px;
}

.dropdown-menu>li>a{
    color: rgb(255,255,255);
    font-size: 20px;
}

.dropdown-menu>li>a:hover{
    background-color: #6ac0d4;
    background-image: none;
    color:rgb(255,255,255);
    
}

@media (min-width: 992px) and (max-width: 1200px) { 

    #custom-bootstrap-menu.navbar1 {
        font-size: 23px;
    }
    #custom-bootstrap-menu.navbar1 .navbar-nav{
        margin-bottom: 20px;
    }

}

@media (min-width: 768px) and (max-width: 992px) { 
    
    #custom-bootstrap-menu.navbar1 {
    font-size: 16.5px;
    
    }  
}

@media (max-width: 768px) { 
    
    #custom-bootstrap-menu.navbar1 {
    font-size: 12px;
    background-color: #0872b9;
    }  
    
    #custom-bootstrap-menu.navbar1 .navbar-nav{
        margin-left: 0px;
        margin-bottom: 15px;
    }
    
    #custom-bootstrap-menu.navbar1 .navbar-nav>li {
        color: rgba(255, 255, 255,1);
        background-color: rgba(248, 248, 248, 0);
        display: block;
    }
    
    .icon-bar {
        background-color:rgb(255,255,255)!important;
    }
}
/*----- Conteúdo ---*/

#main{
    margin-top: -300px;
    
}
@media (min-width: 1200px) {
    .container {
        width: 950px; /*-- muda largura do container*/
    }
}

#content{
    box-shadow: 0px 0px 15px black;
    background-color: #e6e6e6;
    }

@media (min-width: 768px) and (max-width: 992px) { 
    
    #main{
    margin-top: -30%;
    
}
}

/* ---- Rodapé -------------*/
#baixo{
    position: absolute;
    width: 100%;
}
#fundo_2{
    position: relative;
    width: 100%;  
}

#contactos{
    position:relative;
    margin-top: -8%;
    text-align: center;
    margin-left: auto;
    margin-right: auto;    
}
#contactos tr td{
    font-size: 15px;
    width: auto;
    padding-left:  10px;
    padding-right:  10px;
    text-decoration: none;
}
#contactos tr td a{
    text-decoration: none;
    font-size: 25px;
    color: #6d6d6d;
    font-family: Tahoma, Geneva, sans-serif;
    align-content: center;
}
#contactos tr td img{
    height: 30px;
    margin-left: 10px;
    padding-bottom: 5px;
}

@media (min-width: 992px) and (max-width: 1200px) { 

    
}

@media (min-width: 768px) and (max-width: 992px) { 
    
    
}

@media (max-width: 768px) { 
    
   #contactos tr td a strong{
        display: none;
   }

    #contactos tr td img{
        height: 30px;
        margin-left: 5px;
        padding-bottom: 0px;
    }
    
    #contactos{
        position:relative;
        margin-top: -14%;
        text-align: center;
        margin-left: auto;
        margin-right: auto;    
    }
    #baixo{
        margin-top: 20px;
    }
    

}
